@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300..600&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    background: #f4f4f9;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.left-section, .right-section {
    height: 100%;
}

.left-section {
    flex: 1;
    text-align: center;
    background: #34495e;
    padding: 20px;
    color: white;
}

.left-section img#personal-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.left-section h1#name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-top: 20px;
}

.left-section p#occupation {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.left-section div#div-contact-me {
    margin-top: 30px;
}

.left-section a#contact-me {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #e74c3c;
    color: white;
    transition: background-color 0.3s ease;
}

.left-section a#contact-me:hover {
    background-color: #c0392b;
}

#social-media {
    margin-top: 30px;
}

#social-media a {
    margin-right: 15px;
}

#social-media a img {
    width: 30px;
    transition: transform 0.2s;
}

#social-media a:hover img {
    transform: scale(1.1);
}

.right-section {
    flex: 1.5;
    background: #ecf0f1;
    padding: 40px;
    color: #2c3e50;
}

.right-section h2, .right-section h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #34495e;
}

.right-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.right-section h3 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.right-section p {
    font-size: 18px;
    line-height: 1.6;
}

.right-section ul {
    list-style-type: square;
    padding-left: 20px;
}

.right-section ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .left-section, .right-section {
        width: 100%;
        flex: none;
    }

    .left-section h1#name {
        font-size: 30px;
    }

    #contact-me {
        font-size: 18px;
        padding: 8px 15px;
    }

    .right-section h2 {
        font-size: 28px;
    }

    .right-section h3 {
        font-size: 24px;
    }
}
